* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #111a2f;
    color: #7bc3a1;
    font-family: monaco;
}
header {
    padding: 5px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
}
header nav ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    list-style: decimal-leading-zero;
}
header nav ol li {
    padding: 5px;
}
header nav ol li a {
    padding: 50px;
}
.hero p {
    font-family: helvetica, sans-serif;
    font-size: 60px;
    line-height: 1.3;
    font-weight: bold;
    color: #fdd1c1;
}
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 30px 20px 50px;
}
.about {
    font-family: helvetica, sans-serif;
    color: #fdd1c1;
    font-size: 15px;
    padding: 20px;
    margin: 10px 30px 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about img {
    float: right;
    border-radius: 15px;
}


  
  
.projects {
    position : relative;
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : space-between;
    flex-wrap : wrap;
    padding : 30px;
    font-family: helvetica, sans-serif;
}
  
.container .card {
    position: relative;
    max-width : 260px;
    height : 215px;  
    background-color : rgb(75, 72, 72);
    margin : 70px 10px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
}
.container .card:hover {
    height : 320px;    
}
.container .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    top : -40%;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
}
  
.container .card .image img {
    max-width : 100%;
    border-radius : 15px;
}
  
.container .card .title {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
}
  
.container .card:hover .title {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
}